{
    "flickr_api_key"          : "",
    "flickr_group_id"         : "",
    "bitly_login"             : "",
    "bitly_api_key"           : "",
    "twitter_consumer_key"    : "",
    "twitter_consumer_secret" : "",
    "twitter_oauth_token"     : "",
    "twitter_oauth_secret"    : "",
}